// colors from darkest to lightest
$color1: #22223b;
$color2: #4a4e69;
$color3: #9a8c98;
$color4: #c9ada7;
$color5: #f2e9e4;

// buttons
.btn {
  font-size: 18px;
  padding: 12px 32px;
  margin: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
  border-radius: 50px;
  &:hover {
    transition: all 0.3s ease;
  }
}

.btn-gradient-border {
  color: #f2e9e4;
  border: 2px double transparent;
  background-image: linear-gradient(#22223b, #4a4e69),
    radial-gradient(circle at left top, #4a4e69, #9a8c98);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.btn-secondary {
  color: #22223b;
  background-image: radial-gradient(circle at left top, #f2e9e4, #f2e9e4),
    linear-gradient(#22223b, #4a4e69);
}

.btn-glow:hover {
  box-shadow: rgb(192 219 255 / 75%) 0px 0px 20px 0px,
    rgb(65 120 255 / 24%) 0px 0px 20px 0px;
}
